$verde-escuro: #1e4b35;
$amarelo-passion: #e8c534;
$roxo-acai: #552f4d;
$vermelho-lychee: #981f2d;
$tanger-orange: #e18725;
$lime-green: #4c913b;
$vermelho-cran: #c11f26;
$verde-claro: #3cac55;
$verde-medio: #49ba6b;
$verde-medio-escuro: #288146;
$verde-mais-claro: #d8e8a6;