@charset "utf-8";
@import "normalize";
@import "variables";

.clearfix{
	clear: both;
	width: 100%;
	display: block;
}
body {
  background: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
section.top-featured{
	//background-image: url(../images/fundo-top-feature2.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 0;
	z-index: 600;
	@media(max-width: 767px){
		background-image: url(../images/fundo-top-feature.png);
		background-position: center;
	}
	.feat-img-and-txt-cont{
		img{
			@media(max-width: 767px){
				width: 95%;
				margin: -35px;
			}
			@media(min-width: 768px) and (max-width: 991px){
				width: 130%!important;
				margin-left: -15%;
			}
			@media(min-width: 1200px) and (max-width: 1390px){
				width: 87%!important;
			}
			width: 100%; height: auto;
		}
	}
	.logo-cont{
		top: 20px;
		@media(max-width:767px){
			position: relative;
			width: 100%;
			padding: 0 15px;
			text-align: center;
		}
		@media(min-width: 768px){
			position: absolute;
			margin-left: calc(50% - 100px);
		}
		img{
			width: 80%;
			transition: opacity 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out;
			@media(max-width:767px){
				max-width: 200px;
				height: auto;
				display: inline-block;
			}
		}
	}
	.top-feat-sub-txt{
		color: $verde-escuro;
		font-size: 18px;
		font-weight: 700;
		@media(max-width: 991px){
			margin: 20px 0 auto;
			font-size: 16px;
		}
	}
	.fundo-top-feature{
		width: 100%;
		display: block;
		@media(max-width: 767px){
			display: none!important;
		}
	}
	.featured-content-container{
		@media(max-width: 767px){
			margin: 72px 15px;
		}
		@media(min-width: 768px){
			margin-top: -50%;
		}
	}
}
.fetured-sub-txt{
	position: absolute;
	bottom: 10%;
	width:100%;
}

.flavors-menu-cont{
	text-transform: uppercase;
	font-size: 14px;
	@media(max-width: 767px){
		text-align: center;
		z-index: 10;
	}
	@media(min-width: 768px){
		margin: 70px 0 0;
		text-align: left;
	}
	a{
		color: white;
		display: block;
		padding: 3px 15px;
		@media(max-width: 767px){
			margin: 6px 1px;
			display: inline-block;
			font-size: 12px;
		}
		@media(min-width: 768px){
			margin: 6px 0 6px -15px;
		}
	}
	.passionf-link{
		background-color: $amarelo-passion;
	}
	.acai-link{
		background-color: $roxo-acai;
	}
	.lychee-link{
		background-color: $vermelho-lychee;
	}
	.tanger-link{
		background-color: $tanger-orange;
	}
	.lime-link{
		background-color: $lime-green;
	}
	.cranb-link{
		background-color: $vermelho-cran
	}
}
.diferentials-feat-info-cont{
	text-transform: uppercase;
	color: white;
	padding: 0;
	@media(max-width: 767px){
		margin: 15px calc(50% - 100px) 100px;
		width: 200px;
		
	}
	@media(min-width: 768px) and (max-width:991px){
		margin: 35px 0 0;
	}
	.calories-info{
		background-color: $verde-escuro;
		border-radius: 25% 0 25% 0;
		padding: 21px 3px;
		float: left;
		margin: 5px 5px 5px 0;
		
		font-size: 14px;
		line-height: 14px;
		@media(max-width: 991px){
			width: 92px;
			height: 92px;
		}
		@media(min-width: 992px){
			height: 95px;
			width: 95px;
		}
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
	.preserv-info{
		background-color: $verde-claro;
		padding: 20px 3px;
		float: left;
		font-size: 9px;
		line-height: 9px;
		border-radius: 25% 0;
		@media(max-width: 991px){
			height: 76px;
			width: 76px;
			margin: 5px 5px 22px;
		}
		@media(min-width: 992px){
			height: 80px;
			width: 80px;
			margin: 5px 5px 20px;
		}
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
	.braz-fruit{
		background-color: $verde-medio;
		float: left;
		font-size: 12px;
		line-height: 12px;
		border-radius: 25% 0;
		padding: 12px 3px;
		margin: 5px 5px 0 0;
		@media(max-width: 991px){
			height: 76px;
			width: 76px;
		}
		@media(min-width: 992px){
			height: 80px;
			width: 80px;
		}
		span{
			font-size: 20px;
			line-height: 22px;
		}
	}
	.sugar-info{
		background-color: $verde-medio-escuro;
		border-radius: 25% 0;
		float: left;
		margin: -10px 5px 0 5px;
		font-size: 14px;
		line-height: 14px;
		padding: 16px 0;
		@media(max-width: 991px){
			width: 92px;
			height: 92px;
		}
		@media(min-width: 992px){
			height: 95px;
			width: 95px;
		}
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
}

/* ================================================
		*** Estilos para o navbar
   ================================================ */
.natutea-navbar-custom{
	.navbar-brand{
		padding:0;
		height: 56px;
		img{
			width: 59px;
			transition: opacity 0.5s ease-in-out;
		}
		@media(max-width: 767px){
			margin-left: calc(50% - 24.5px);
		}
	}
	ul.navbar-nav{
		font-size: 12px;
		transition: color 0.5s ease-in-out;
		li{
			padding: 0 10px;
			a{
				padding:20px 5px;
				transition: padding 0.5s ease-in-out;
				color: white;
				&:hover{
					color: $verde-escuro;
					background-color: transparent;
				}
				&:focus{
					background-color: transparent;
				}
				@media(max-width: 767px){
					color: $verde-claro;
					padding:8px 0!important;
					font-size: 14px;
				}
			}
		}
	}
	background-color: rgba(255,255,255,0);
	transition: background-color 0.5s ease-in-out;
	.navbar-toggle .icon-bar{
	background-color: $verde-claro;
	}
	@media(max-width: 767px){
		background-color: rgba(255,255,255,0.95);
	}
	.navbar-toggle{
		border: 1px solid $verde-claro;
		margin-top: 11px;
	}
}
.natutea-navbar-custom.top-nav-collapse{
	background-color: rgba(255,255,255,0.95);
	ul.navbar-nav{
		li{
			a{
				padding:18px 5px;
				color: $verde-claro;
				&:hover{
					color: $verde-escuro;
					background-color: transparent;
				}
			}
		}
	}
}




.flavor-txt-container{
	h3{
		font-size: 30px;
		text-transform: uppercase;
	}
	.flavor-section-txt{
		font-size: 18px;
		@media(max-width: 767px){
			font-size: 16px;
		}
	}
}

/* ================================================
		*** Estilos para as seções de Flavors
   ================================================*/
.passionfruit, .acai, .lychee, .tangerine, .lime, .cranberry{
	overflow: hidden; 
	width: 100%;
	position: relative;
}
section.passionfruit{
	background-color: $amarelo-passion;
	color: $verde-escuro;
	z-index: 595;
	.flavor-txt-container{
		z-index: 596;
	}
	img{
			transform: skewY(6deg);
	}
}
.img-maracuja-fruta{
	width: 30%; 
	position: absolute;
	left: 15px;
	max-width: 372px;
	@media(max-width: 1399px){
		top: 28%;
	}
	@media(min-width: 1400px){
		top: 35%;
	}
}
.maracuja-virada{
	position: absolute;
	right: 15%;
	width: 16%;
	max-width: 225px;
	@media(max-width: 1399px){
		bottom: -14%;
	}
	@media(min-width: 1400px){
		bottom: -58%;
	}
}
.maracuja-direito{
	width: 19%;
	position: absolute;
	right: 15px;
	max-width: 254px;
	@media(max-width: 767px){
		top:10%;
	}
	@media(min-width: 768px) and (max-width: 1399px){
		top: 39%;
	}
	@media(min-width: 1400px){
		top: 13%;
	}
}

section.acai{
	color: white;
	background-color: $roxo-acai;
	z-index: 575;
	img{
		
	}
	.flavor-txt-container{
		z-index: 576;
	}
}
.garrafa-acai{
	position: absolute;
	right: 12%;
	width: 20%;
	transform: skewY(-6deg);
	top: 66%;
	max-width: 244px;
	@media(max-width: 767px){
		right: 0!important;
		width: 25%!important;
		top: 70%!important;
	}
}
.acai-frutas{
	position: absolute;
	width: 33%;
	top: 73%;
	left: 0;
	transform: skewY(-6deg);
	max-width: 420px;
	@media(max-width: 991px){
		top: 58%!important;
	}
}
section.lychee{
	background-color: $vermelho-lychee;
	color: white;
	z-index: 555;
	.flavor-txt-container{
		z-index: 556;
	}
}
.garrafa-lychee{
	position: absolute;
	left: 15%;
	width: 13%;
	max-width: 305px;
	@media(max-width: 767px){
		top: 124%;
		width: 15%!important;
		transform: skewY(6deg) rotateZ(12deg);
		left: 4%;
	}
	@media(min-width: 768px) and (max-width: 991px){
		width: 16%!important;
		top: 174%;
		transform: skewY(6deg) rotateZ(12deg);
	}
	@media(min-width: 992px) and (max-width: 1199px){
		width: 18%!important;
		top: 75%;
		transform: skewY(6deg) rotateZ(12deg);
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		transform: skewY(6deg) rotateZ(12deg);
		top: 74%;
	}
	@media(min-width: 1400px){
		transform: skewY(6deg) rotateZ(12deg) scale(0.75);
		top: 111%;
	}
}
.lichia-frutas{
	position: absolute;
	right: 15px;
	width: 34%;
	transform: skewY(6deg);
	max-width: 449px;
	@media(max-width: 767px){
		top: 35%;
		right: -25px;
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		top: 24%;
	}
	@media(min-width:1400px){
		top: 23%;
	}
}
section.tangerine{
	color: white;
	background-color: $tanger-orange;
	z-index: 535;
	.flavor-txt-container{
		z-index: 536;
	}
}
.tangerina-fruta{
	position: absolute;
	left: 15px;
	width: 30%;
	transform: skewY(-6deg);
	max-width: 347px;
	@media(max-width: 991px){
		bottom: 8px;
	}
	@media(min-width: 992px) and (max-width: 1399px){
		bottom: -106px;
	}
	@media(min-width: 1400px){
		bottom: -190px;
	}
}
.garrafa-tangerina-sombra{
	position: absolute;
	right: 20%;
	width: 10%;
	transform: skewY(-6deg);
	@media(max-width: 767px){
		top: -63%;
		right: 0!important;
		width: 16%!important;
	}
	@media(min-width: 768px) and (max-width:991px){
		width: 14%!important;
		top: -62%;
	}
	@media(min-width: 992px) and (max-width: 1399px){
		top: -47%;
	}
	@media(min-width: 1400px){
		top: -142%;
	}
}
.garrafa-tangerina-folhas{
	position: absolute;
	right: 15px;
	width: 29%;
	transform: skewY(-6deg);
	max-width: 357px;
	@media(max-width: 767px){
		top: 171%;
		width: 38%!important;
	}
	@media(min-width: 768px) and (max-width: 991px){
		top: 326%;
		width: 38%!important; 
	}
	@media(min-width: 992px) and (max-width: 1399px){
		top: 165%;
	}
	@media(min-width: 1400px){
		top: 177%;
	}
}
section.lime{
	background-color: $lime-green;
	color: white;
	z-index: 515;
	.flavor-txt-container{
		z-index: 516;
	}
}
.garrafa-limao-invertida{
	position: absolute;
	left: 3%;
	width: 17%;
	transform: skewY(6deg);
	max-width: 250px;
	@media(max-width:767px){
		top: -58%;
		left: 0!important;
	}
	@media(min-width: 768px) and (max-width: 991px){
		top: -190%;
		width: 20%!important;
	}
	@media(min-width: 992px) and (max-width: 1199px){
		top: -90%;
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		top: -108%;
	}
	@media(min-width: 1400px){
		top: -130%;
	}
}
.garrafa-limao-direita{
	position: absolute;
	left: 18%;
	width: 16%;
	@media(max-width: 767px){
		bottom: -202%;
		width: 22%!important;
		transform: skewY(6deg) rotateZ(-6deg);
		left: 9%!important;
	}
	@media(min-width: 768px) and (max-width: 991px){
		bottom: -257%;
		width: 22%!important;
		transform: skewY(6deg) rotateZ(-6deg);
	}
	@media(min-width: 992px) and (max-width: 1199px){
		bottom: -113%;
		transform: skewY(6deg) rotateZ(-6deg);
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		transform: skewY(6deg) rotateZ(-6deg);
		bottom: -145%;
	}
	@media(min-width: 1400px){
		transform: skewY(6deg) rotateZ(-6deg) scale(0.82);
		bottom: -215%;
	}
}
.limao-frutas{
	position: absolute;
	width: 27%;
	right: 15px;
	transform: skewY(6deg);
	max-width: 300px;
	@media(max-width: 991px){
		bottom: -60px;
	}
	@media(min-width:992px) and (max-width: 1399px){
		bottom: -201px;
	}
	@media(min-width: 1400px){
		bottom: -241px;
	}
}
section.cranberry{
	background-color: $vermelho-cran;
	color: white;
	z-index: 495;
	.flavor-txt-container{
		z-index: 496;
	}
}
.cranberries-frutas{
	position: absolute;
	left: 15px;
	width: 30%;
	transform: skewY(-6deg);
	max-width: 371px;
	@media(max-width: 991px){
		bottom: -22px;
	}
	@media(min-width: 992px) and (max-width:1199px){
		bottom: -131px;
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		bottom: -203px;
	}
	@media(min-width: 1400px){
		bottom: -263px;
	}
}
.garrafa-cranb-sombra{
	position: absolute;
	width: 10%;
	right: 30px;
	transform: skewY(-6deg);
	@media(max-width: 767px){
		width: 12%!important;
		bottom: 152%;
		right: 7px!important;
	}
	@media(min-width: 768px) and (max-width: 991px){
		width: 12%!important;
		bottom: 164%;
	}
	@media(min-width: 992px) and (max-width: 1199px){
		bottom: 164%;
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		bottom: 191%;
	}
	@media(min-width: 1400px){
		bottom: 305%;
	}
}
.garrafa-cranb-reflexo{
	position: absolute;
	right: 10%;
	@media(max-width: 767px){
		top: 155%;
		width: 27%;
		right: 4%!important;
	}
	@media(min-width: 768px) and (max-width: 991px){
		top: 188%;
		width: 27%;
	}
	@media(min-width: 992px) and (max-width:1199px){
		top: 130%;
		width: 27%;
	}
	@media(min-width: 1200px) and (max-width: 1399px){
		transform: skewY(-6deg) rotateZ(-8deg);
		width: 22%;
		top: 144%;
	}
	@media(min-width: 1400px){
		transform: skewY(-6deg) rotateZ(-8deg) scale(0.62);
		top: 191%;
		width: 20%;
	}
}
.skew-grande-dir{
	padding-bottom: 100px;
	transform: skewY(6deg);
	.flavor-txt-container{
		transform: skewY(-6deg);
	}
	&:after {
		background-image: -moz-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		display: block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content: "";
		position: absolute;
	}
}
.skew-grande-ezquerda{
	color: white;
	padding-bottom: 100px;
	transform: skewY(-6deg);
	.flavor-txt-container{
		transform: skewY(6deg);
	}
	&:after {
		background-image: -moz-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		display: block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content: "";
		position: absolute;
	}
}
.flavor-txt-container{
	@media/*(min-width: 481px) and */(max-width: 767px){
		width: 65%;
		margin-left: 17.5%;
	}
}
/* ================================================
		*** Estilos para as seção de Contact e About us
	 ================================================ */ 

section.contact{
	background-color: $verde-mais-claro;
	padding: 150px 0;
	color: $verde-escuro;
}
.contact-form-container{
	@media(max-width: 767px){
		margin: 80px 0 0;
	}
}
.contact-submit{
	background-color:$verde-escuro;
	border-color: $verde-escuro;
	padding: 5px 31px;
	&:hover{
		background-color: $verde-claro;
		border-color: $verde-claro;
	}
}
.about-txt{
	font-size: 18px;
	@media(max-width: 767px){
		font-size: 16px!important;
	}
}
.natutea-contact-form{
	.form-control{
		background-color: transparent;
		border: 1px solid $verde-escuro;
		-webkit-box-shadow: none;
		box-shadow:none;
	}

}

/* ================================================
		*** Estilos para as seção de Where ***
	 ================================================ */
section.where{
	background-color: $verde-escuro;
	color: white;
	padding: 60px 0;
	.brand-image-cont{
		padding: 15px;
		img{
			width: 100%;
			max-width: 400px;
		}
	}
	h4{
		margin: 20px 0 0;
		color: $verde-mais-claro;	
		}
}
footer{
	background-color: #071910;
	padding: 30px 0;
}
ul.folow-us-icons{
	list-style: none;
	padding: 0;
	margin: 10px 0;
	li{
		display: inline-block;
		margin: 0 1px;
		a{
			height: 30px;
			width: 30px;
			border-radius: 100%;
			display: block;
			background-color: $verde-claro;
			color: white;
			font-size: 17px;
			i{
				line-height: 30px;
			}
			&:hover{
				background-color: $verde-escuro;
				color: $verde-mais-claro;
			}
		}
	}
}
.folow-us-txt, .copyright{
	color: white;
	a{
		color: white;
	}
}
