@charset "utf-8";
@import "normalize";

body {
  background: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
section.top-featured{
	background-image: url(../images/fundo-top-feature.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.feat-img-and-txt-cont{
		img{width: 100%; height: auto;}
	}
	.logo-cont{
		position: absolute;
		margin-left: calc(50% - 100px);
		top: 20px;
		img{
			max-width: 200px;
		}
	}
}
