@charset "utf-8";
@import "normalize";
@import "variables";

.clearfix{
	clear: both;
	width: 100%;
	display: block;
}
body {
  background: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
section.top-featured{
	//background-image: url(../images/fundo-top-feature2.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 0;
	z-index: 600;
	
	.feat-img-and-txt-cont{
		img{
			width: 100%; height: auto;
		}
	}
	.logo-cont{
		position: absolute;
		margin-left: calc(50% - 100px);
		top: 20px;
		img{
			width: 80%;
			transition: opacity 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out;
		}
	}
	.top-feat-sub-txt{
		color: $verde-escuro;
		font-size: 18px;
		font-weight: 700;
	}
	.fundo-top-feature{
		width: 100%;
		display: block;
	}
	.featured-content-container{
		margin-top: -50%;
	}
}
.flavors-menu-cont{
	text-transform: uppercase;
	font-size: 14px;
	margin: 70px 0 0;
	a{
		color: white;
		display: block;
		padding: 3px 15px;
		margin: 6px 0 6px -15px;
	}
	.passionf-link{
		background-color: $amarelo-passion;
	}
	.acai-link{
		background-color: $roxo-acai;
	}
	.lychee-link{
		background-color: $vermelho-lychee;
	}
	.tanger-link{
		background-color: $tanger-orange;
	}
	.lime-link{
		background-color: $lime-green;
	}
	.cranb-link{
		background-color: $vermelho-cran
	}
}
.diferentials-feat-info-cont{
	text-transform: uppercase;
	color: white;
	padding: 0;
	.calories-info{
		background-color: $verde-escuro;
		border-radius: 25% 0 25% 0;
		padding: 21px 3px;
		width: 60%;
		float: left;
		margin: 5px 5px 5px 0;
		height: 95px;
		width: 95px;
		font-size: 14px;
		line-height: 14px;
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
	.preserv-info{
		background-color: $verde-claro;
		height: 80px;
		width: 80px;
		padding: 20px 3px;
		float: left;
		font-size: 9px;
		line-height: 9px;
		border-radius: 25% 0;
		margin: 5px 5px 20px;
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
	.braz-fruit{
		background-color: $verde-medio;
		height: 80px;
		width: 80px;
		float: left;
		font-size: 12px;
		line-height: 12px;
		border-radius: 25% 0;
		padding: 12px 3px;
		margin: 5px 5px 0 0;
		span{
			font-size: 20px;
			line-height: 22px;
		}
	}
	.sugar-info{
		background-color: $verde-medio-escuro;
		height: 95px;
		width: 95px;
		border-radius: 25% 0;
		float: left;
		margin: -10px 5px 0 5px;
		font-size: 14px;
		line-height: 14px;
		padding: 16px 0;
		span{
			font-size: 30px;
			line-height: 30px;
		}
	}
}

/* ================================================
		*** Estilos para o navbar
   ================================================ */
.natutea-navbar-custom{
	.navbar-brand{
		padding:0;
		height: 56px;
		img{
			width: 59px;
			transition: opacity 0.5s ease-in-out;
		}
	}
	ul.navbar-nav{
		color: white;
		font-size: 12px;
		transition: color 0.5s ease-in-out;
		li{
			padding: 0 10px;
			a{
				padding-top: 15px;
				transition: padding-top 0.5s ease-in-out;
			}
		}
	}
	background-color: rgba(255,255,255,0);
	transition: background-color 0.5s ease-in-out;
}
.natutea-navbar-custom.top-nav-collapse{
	background-color: rgba(255,255,255,0.95);
	ul.navbar-nav{
		color: $verde-claro;
		li{
			a{
				padding-top: 5px;
			}
		}
	}
}




.flavor-txt-container{
	h3{
		font-size: 30px;
		text-transform: uppercase;
	}
	.flavor-section-txt{
		font-size: 18px;
	}
}

/* ================================================
		*** Estilos para as seções de Flavors
   ================================================*/

section.passionfruit{
	background-color: $amarelo-passion;
	color: $verde-escuro;
	z-index: 595;
	.flavor-txt-container{
		z-index: 596;
	}
	img{
			transform: skewY(6deg);
	}
}
.img-maracuja-fruta{
	width: 30%; 
	position: absolute;
	left: 15px;
	top: 35%;
	max-width: 372px;
}
.maracuja-virada{
	position: absolute;
	right: 15%;
	width: 16%;
	max-width: 225px;
	bottom: -58%;
}
.maracuja-direito{
	width: 19%;
	position: absolute;
	right: 15px;
	top: 13%;
	max-width: 254px;
}

section.acai{
	color: white;
	background-color: $roxo-acai;
	z-index: 575;
	img{
		
	}
}
.garrafa-acai{
	position: absolute;
	right: 12%;
	width: 20%;
	transform: skewY(-6deg);
	top: 10%;
	max-width: 244px;
}
.acai-frutas{
	position: absolute;
	width: 33%;
	top: 60%;
	left: 0;
	transform: skewY(-6deg);
	max-width: 420px;
}
section.lychee{
	background-color: $vermelho-lychee;
	color: white;
	z-index: 555;
}
.garrafa-lychee{
	position: absolute;
	left: 15%;
	width: 13%;
	top: 10%;
	max-width: 305px;
	@media(max-width: 1399px){
		transform: skewY(6deg) rotateZ(12deg);
	}
	@media(min-width: 1400px){
		transform: skewY(6deg) rotateZ(12deg) scale(0.75);
	}
}
.lichia-frutas{
	position: absolute;
	right: 15px;
	width: 34%;
	transform: skewY(6deg);
	max-width: 449px;
	@media(max-width: 1399px){
		top: 56%;
	}
}
section.tangerine{
	color: white;
	background-color: $tanger-orange;
	z-index: 535;
}
.tangerina-fruta{
	position: absolute;
	left: 15px;
	width: 30%;
	bottom: 0;
	transform: skewY(-6deg);
	max-width: 347px;
}
.garrafa-tangerina-sombra{
	position: absolute;
	right: 20%;
	width: 10%;
	top: 15%;
	transform: skewY(-6deg);
}
.garrafa-tangerina-folhas{
	position: absolute;
	right: 15px;
	top: 10%;
	width: 29%;
	transform: skewY(-6deg);
	max-width: 357px;
}
section.lime{
	background-color: $lime-green;
	color: white;
	z-index: 515;
}
.garrafa-limao-invertida{
	position: absolute;
	left: 3%;
	top: -11%;
	width: 17%;
	transform: skewY(6deg);
	max-width: 250px;
}
.garrafa-limao-direita{
	position: absolute;
	left: 18%;
	bottom: 0;
	width: 16%;
	
	@media(max-width: 1399px){
		transform: skewY(6deg) rotateZ(-6deg);
	}
	@media(min-width: 1400px){
		transform: skewY(6deg) rotateZ(-6deg) scale(0.82);
	}
}
.limao-frutas{
	position: absolute;
	width: 27%;
	right: 15px;
	bottom: 0;
	transform: skewY(6deg);
	max-width: 300px;
}
section.cranberry{
	background-color: $vermelho-cran;
	color: white;
	z-index: 495;
}
.cranberries-frutas{
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 30%;
	transform: skewY(-6deg);
	max-width: 371px;
}
.garrafa-cranb-sombra{
	position: absolute;
	width: 10%;
	right: 30px;
	bottom: 10%;
	transform: skewY(-6deg);
}
.garrafa-cranb-reflexo{
	position: absolute;
	width: 20%;
	right: 10%;
	top: -5%;
	@media(max-width: 1399px){
		transform: skewY(-6deg) rotateZ(-8deg);
	}
	@media(min-width: 1400px){
		transform: skewY(-6deg) rotateZ(-8deg) scale(0.62);
	}
}
.skew-grande-dir{
	padding-bottom: 100px;
	transform: skewY(6deg);
	.flavor-txt-container{
		transform: skewY(-6deg);
	}
	&:after {
		background-image: -moz-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		display: block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content: "";
		position: absolute;
	}
}
.skew-grande-ezquerda{
	color: white;
	padding-bottom: 100px;
	transform: skewY(-6deg);
	.flavor-txt-container{
		transform: skewY(6deg);
	}
	&:after {
		background-image: -moz-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		background-image: radial-gradient(center, ellipse closest-corner, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 30%, rgba(255, 255, 255, 0.02) 60%, rgba(255,255,255, 0.001) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		display: block;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		content: "";
		position: absolute;
	}
}

/* ================================================
		*** Estilos para as seção de Contact e About us
	 ================================================ */ 

section.contact{
	background-color: $verde-mais-claro;
	padding: 150px 0;
	color: $verde-escuro;
}
.contact-submit{
	background-color:$verde-escuro;
	border-color: $verde-escuro;
	padding: 5px 31px;
	&:hover{
		background-color: $verde-claro;
		border-color: $verde-claro;
	}
}
.about-txt{
	font-size: 18px;
}
.natutea-contact-form{
	.form-control{
		background-color: transparent;
		border: 1px solid $verde-escuro;
		-webkit-box-shadow: none;
		box-shadow:none;
	}

}

/* ================================================
		*** Estilos para as seção de Where ***
	 ================================================ */
section.where{
	background-color: $verde-escuro;
	color: white;
	padding: 60px 0;
	.brand-image-cont{
		padding: 15px;
		img{
			width: 100%;
			max-width: 400px;
		}
	}
	h4{
		margin: 20px 0 0;
		color: $verde-mais-claro;	
		}
}
footer{
	background-color: #071910;
	padding: 30px 0;
}
ul.folow-us-icons{
	list-style: none;
	padding: 0;
	margin: 10px 0;
	li{
		display: inline-block;
		margin: 0 1px;
		a{
			height: 30px;
			width: 30px;
			border-radius: 100%;
			display: block;
			background-color: $verde-claro;
			color: white;
			font-size: 17px;
			i{
				line-height: 30px;
			}
			&:hover{
				background-color: $verde-escuro;
				color: $verde-mais-claro;
			}
		}
	}
}
.folow-us-txt, .copyright{
	color: white;
	a{
		color: white;
	}
}
