<section id="contact" class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 about-txt-container">
				<h3>ABOUT US</h3>
				<div class="about-txt">
					Anyone can enjoy this cool drink for snacking or for a refreshing break. NatuTea is brewed using the finest green tea with brazilian fruits and slightly sweetened with only 8 calories per serving. NatuTea comes in 6 delicious flavors – green tea & Acai Berry Juice, green tea & Cranberry Juice, green tea & Lemon Juice, green tea & Lychee Juice, green tea & Passion Fruit Juice and green tea & Tangerine Juice.
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5 contact-form-container text-left">
				<h3>CONTACT US</h3>
				<form class="natutea-contact-form">
					<div class="form-group">
						<label for="complete-name">NAME</label>
						<input type="text" class="form-control" id="complete-name" name="contact-name">
					</div>
					<div class="form-group">
						<label for="contact-f-email">EMAIL</label>
						<input type="email" class="form-control" id="contact-f-email" name="contac-email">
					</div>
					<div class="form-group">
						<label for="contact-subject">SUBJECT</label>
						<input type="text" class="form-control" id="contact-subject" name="contact-subject">
					</div>
					<div class="form-group">
						<label for="contat-message">MESSAGE</label>
						<textarea name="contact-message" class="form-control" id="contat-message" rows="4"></textarea>
					</div>
					<div class="form-group text-center">
						<input type="submit" name="contact-submit" class="contact-submit btn btn-primary" value="SEND">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>