<section id="where" class="where">
	<div class="container">
		<h3  class="text-left">WHERE</h3>
		<div class="col-xs-12">
			<div class="where-slider-cont">
				<div>
					<div class="brand-image-cont">
						<%= image_tag "maverik.jpg" %>
					</div>
				</div>
			</div>
		</div>
		<h4>FIND NEXT TO YOU</h4>
	</div>
</section>
<footer>
	<div class="container">
		<div class="folow-us">
			<div class="folow-us-txt">FOLLOW US</div>
			<ul class="folow-us-icons">
				<li><a href=""><i class="fa fa-facebook"></i></a></li>
				<li><a href=""><i class="fa fa-tumblr"></i></a></li>
				<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
				<li><a href=""><i class="fa fa-twitter"></i></a></li>
				<li><a href=""><i class="fa fa-youtube"></i></a></li>
				<li><a href=""><i class="fa fa-linkedin"></i></a></li>
				<li><a href=""><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
		<div class="copyright">Copyright &copy; 2016 - by <a href="http://www.eokoe.com/">Eokoe</a></div>
	</div>
</footer>