<nav class="navbar navbar-fixed-top natutea-navbar-custom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#natutea-navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<%= image_tag "logo-navbar.png" %>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="natutea-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#top-featured" class="home-link">Home</a></li>
				<li><a href="#about-us" class="about-link">About</a></li>
				<li><a href="#where" class="where-link">Where</a></li>
				<li><a href="#contact" class="contact-link">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>