---
title: NatuTea
---

<div class="main-content">
	<section class="top-featured container-fluid">
		<div class="logo-cont">
			<%= image_tag "logo-transparente.png" %>
		</div>
		<div class="feat-img-and-txt-cont container">
			<%= image_tag "nt-top-feat-img.png" %>
		</div>
	</section>
</div>